<%content_for :header do -%>
   <h1>登录</h1>
<%end -%>

<%= form_tag session_path do -%>
<div class="field"><%= label_tag 'login' %><br />
<%= text_field_tag 'login', @login %></div>

<div class="field"><%= label_tag 'password' %><br/>
<%= password_field_tag 'password', nil %></div>

<!-- Uncomment this if you want this functionality
<p><%= label_tag 'remember_me', 'Remember me' %>
<%= check_box_tag 'remember_me', '1', @remember_me %></p>
-->

<div class="actions" ><%= submit_tag 'Log in', "data-role" => "button", "data-inline" => "true"%></div>
<% end -%>
