
<% notes.each do |note| %>
  <div class='note'> 
		<div class="note-<%=User.find(note.user_id).login if User.find(note.user_id)%>">&nbsp;</div>
		<div class='note-message'><%= note.id %>. &nbsp;&nbsp;<%= note.message %></div>
		<div class='note-menu'>
		  <%=translate_time(note.updated_at) %>
			&nbsp;<%= link_to 'E', edit_note_path(note) %>
			&nbsp;<%= link_to 'D', note, :method => :delete %>
		</div>
	</div>
	<hr/>
<% end %>

<%= will_paginate notes %>