<%content_for :header do -%>
   <h1>日志</h1>
	 <%= link_to 'Add', new_post_path, "data-icon" => "plus", "class" => "ui-btn-right" %>
<%end -%>

<% @posts.each do |post| %>
 <li>
	<h2><%= post.title %></h2>
	<p style='color:blue;'>
	  <%= post.user.login unless post.user.nil? %>&nbsp;
	  <%= translate_time post.created_at %>&nbsp;
		<span class='menu'>
		&nbsp;&nbsp;(<%= link_to image_tag('/images/edit.png', :width =>15, :border => '0px'), edit_post_path(post) %>
		<%= link_to image_tag('/images/delete.png', :width=>15, :border => '0px'), post, :confirm => 'Are you sure?', :method => :delete %>)
	</span>
	</p>
	<p><%= simple_format post.message %></p>
	</li>
	<br/>

	<ul data-role="listview" data-inset="true" data-theme="e" >
	<% unless post.comments.empty?%>
		<% post.comments.each do |c|%>
				<li><%= c.content%> 
				<%= link_to ' ', c, :confirm => "#{c.content}\n\n要删除该评论吗？", :method => :delete %>
				<div class='ui-li-count'>
					<%=translate_time(c.updated_at) %>
				</div>
				</li>
		<% end%>
	<%end%>
	</ul>

<%=render :partial=>'comments/form',:locals=>{:post => post, :comment => post.comments.build}%>

<% end %>

<%= will_paginate @posts %>